{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'glasses/css/style.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'glasses/images/main.ico' %}" type="image/x-icon" />
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            {% block mainmenu %}
            <div class="header">
                <ul id="mainmenu" class="mainmenu">
                    <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
                {% for m in menu %}
                    {% if not forloop.last %}
                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                    {% else %}
                    <li class="last"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
                <div calss="clear"></div>
            </div>
            {% endblock mainmenu %}

        </td>
    </tr>
</table>

{% block content %}
{% endblock %}

</body>
</html>